.bread {
    display: flex;
    align-items: center;
    justify-content: start;

    background: #006bff;
    border-radius: 10px;
    padding: 0 4px;
}

.bread-list {
    padding: 11px 36px 13px 15px;
    background: url("../../assets/img/bread.svg") no-repeat center right;
}
.bread-list,
.bread-list-link {
    font-size: 1.125rem;
    line-height: 21px;
    transition: 0.4s;
}
.bread-list-link:hover {
    text-decoration: underline;
}
