.chapter-title {
    padding-left: 69px;
    padding-bottom: 34px;
}

.secret {
    .chapter-title {
        padding-bottom: 12px;
    }
}

.chapter {
    margin-bottom: 57px;
}

.chapter:nth-last-child(1) {
    margin-bottom: 104px;
}

.chapter__title-title {
    font-size: 1.75rem;
    line-height: 34px;
    color: #006bff;

    text-transform: uppercase;
}

.chapter__title-text {
    font-size: 1.125rem;
    line-height: 21px;

    color: #085ccf;
}

.chapter__wrapp {
    background: #031d40;
    border-radius: 1px;
    padding: 25px 9px 6px 75px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(270deg, #006bff 0%, #6da7f9 27.25%, #6da7f9 75.97%, #006bff 100.6%),
            linear-gradient(270deg, #006bff 0%, #6da7f9 75.97%, #006bff 100.6%);
        border-radius: 2px;
    }
}
.chapter-row {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 50px;

    &::before {
        content: url("../../assets/img/forum.svg");
        position: absolute;
        top: 11px;
        left: 0;
    }
}

.chapter__row-link {
    display: block;

    font-weight: bold;
    font-size: 1.75rem;
    line-height: 34px;

    padding-bottom: 7px;
    &:hover {
        text-decoration: underline;
    }
}

.chpater__row-link-2 {
    line-height: 19px;
    color: #898989;

    &:hover {
        text-decoration: underline;
    }
}

.chapter__row-privat {
    display: block;
    font-style: italic;
    padding-right: 114px;
    font-size: 1.125rem;
    line-height: 21px;
    &:hover {
        text-decoration: underline;
    }
}
