.entrance {
    width: 924px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #011631;
    border-radius: 20px;
}

.entrance-form {
    display: none;
}
.entrance-active {
    display: block;
}
.entrance-body {
    background: #011631;
}

.entrance__head {
    background: #006bff;
    border-radius: 20px 20px 0 0;
    padding: 20px 19px 13px;

    font-weight: bold;
    font-size: 2.125rem;
    line-height: 41px;
}

.entrance-row {
    display: flex;
    justify-content: start;
    align-items: inherit;
}

.entrance-col-1 {
    width: 297px;
    background: #031d40;
    padding: 40px 11px 0 37px;
    font-size: 1.125rem;
    line-height: 21px;
}
.entrance-col-2 {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    background: #011631;
    padding-top: 40px;
    padding-left: 23px;
}
.entrance-input {
    width: 580px;
    height: 54px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
}

.entrance-link {
    padding-top: 12px;
    font-size: 1.125rem;
    line-height: 21px;
    &:hover {
        text-decoration: underline;
    }
}

.entrance-label {
    position: relative;
    cursor: pointer;
}

.entrance-label-span {
    font-size: 1rem;
    line-height: 19px;
    padding-left: 10px;
    &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        border: 2px solid #006bff;
        left: 0;
        z-index: 0;
    }
}

.entrance-check {
    position: relative;
    z-index: 1;
    opacity: 0;
}

.entrance-check:checked + .entrance-label-span {
    &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: #fff;
        left: 5px;
        top: 4.5px;
    }
}

.entrance-wrapp {
    background: #006bff;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrance-wrapp-btn {
    display: inline-block;
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 34px;
    color: #006bff;

    font-weight: bold;
    font-size: 1.5rem;
    line-height: 29px;
    margin: 15px auto;
    transition: 0.4s;
    &:hover {
        background: #4685d1;
        color: #fff;
    }
}

.entrance-reg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 31px 0 18px;
}

.entrance-reg-btn {
    margin-left: 28px;

    padding: 7px 21px;
    border: none;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;

    font-size: 1.125rem;
    line-height: 21px;
    transition: 0.4s;
    &:hover {
        background: #4685d1;
    }
}
.entrance-body {
    .entrance-row:nth-last-child(1) {
        .entrance-col-1 {
            padding-bottom: 0px;
        }
    }
}

.entrance-text {
    font-size: 1.125rem;
    line-height: 21px;
    color: #898989;
}

.entrance-reg-span {
    padding-top: 16px;
    max-width: 500px;
    font-size: 1rem;
    line-height: 19px;
    color: #898989;
}

.entrance-row:nth-last-child(1) {
    .entrance-col-2 {
        padding-bottom: 80px;
    }
}

.reg-row {
    display: flex;
    justify-content: start;
    align-items: inherit;
    .entrance-col-1 {
        padding-top: 40px;
        text-align: right;
        font-size: 1.5rem;
        line-height: 28px;
    }
    .entrance-col-2 {
        padding-top: 40px;
    }
}

.reg-row:nth-child(2) {
    .entrance-col-1 {
        padding-top: 18px;
    }
    .entrance-col-2 {
        padding-top: 18px;
    }
}

.reg-row:nth-child(3) {
    .entrance-col-1 {
        padding-top: 32px;
        padding-bottom: 29px;
    }
    .entrance-col-2 {
        padding-top: 32px;
        padding-bottom: 29px;
    }
}

.reg-row:nth-last-child(1) {
    .entrance-col-2,
    .entrance-col-1 {
        padding-top: 27px;
        padding-bottom: 58px;
    }
}

.rew-captcha {
    .entrance-col-1,
    .entrance-col-2 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.captcha {
    width: 320px;
    background: #fff;
    padding: 5px;
}

.captcha-wrapp {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.captcha-box {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #d3d3d3;
    background: #fff;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.captcha-box-img {
    opacity: 0;
}

.captcha-wrapp-inner {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #000;
}

.captcha-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.captcha-box-btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
}
.captcha-box-2-text {
    padding-top: 10px;
    color: #000;
    font-size: 0.8rem;
    line-height: 16px;
}

.captcha-box-3-link {
    font-size: 0.5rem;
    line-height: 12px;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

.captcha-wrapp-inner-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.captcha-label {
    position: relative;
}

.captcha-check {
    position: absolute;
    opacity: 0;
}

.captcha-check:checked + .captcha-box {
    border: none;
    .captcha-box-img {
        opacity: 1;
    }
}
