.header__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #031d40;
    border-radius: 10px;
    padding: 25px 102px 20px 86px;
}

.header__wrapp-col,
.header__wrapp-col-2 {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-right: 86px;
    font-size: 1.125rem;
    line-height: 21px;
}

.nav__list-link {
    padding-right: 28px;

    font-size: 1.125rem;
    line-height: 21px;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    padding: 7px 9px;
    border-radius: 6px;
    transition: 0.4s;
    font-size: 1.125rem;
    line-height: 21px;
    &:hover {
        background: #006bff;
    }
}

.btn-reg {
    padding: 7px 25px;
    border-radius: 6px;
}
