.header {
    border-bottom: 1px solid #fff;
}
.header-2 {
    border-bottom: none;
}
.header-3 {
    border: none;
    .header__wrapp-2 {
        border: none;
    }
}
.header__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #031d40;
    border-radius: 10px;
    padding: 25px 102px 20px 86px;
}

.header__wrapp-2 {
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    border-bottom: 1px solid #fff;
    padding: 59px 0 31px;

    .header__wrapp-col-2 {
        position: relative;
        right: -20px;
    }
}

.header__wrapp-col,
.header__wrapp-col-2 {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-right: 86px;
    font-size: 1.125rem;
    line-height: 21px;
}

.nav__list-link {
    padding-right: 28px;

    font-size: 1.125rem;
    line-height: 21px;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    padding: 7px 9px;
    border-radius: 6px;
    transition: 0.4s;
    font-size: 1.125rem;
    line-height: 21px;
    &:hover {
        background: #006bff;
    }
}

.btn-reg {
    padding: 7px 25px;
    border-radius: 6px;
}
.header__search {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 43px;
}

.header__search-input {
    width: 175px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 21px;
    border: none;

    background: rgba(0, 0, 0, 0);
    &::placeholder {
        color: #fff;
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.header__search-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.header-select {
    background: url("../../assets/img/heade-2.svg") no-repeat center right, rgba(0, 0, 0, 0);
    appearance: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-right: 13px;
    border: none;
    outline: none;
    option {
        background: #001126;
    }
}
