.main {
    padding: 40px 0 40px;
}

.main-option {
    padding: 89px 0 50px;
}
.main-regulation {
    padding: 89px 0 75px;
}

.main-finance {
    padding: 100px 0 57px;
}

.main-choise {
    padding: 89px 0 58px;
}
.main-kinars {
    padding: 89px 0 0 0;
}

.main-buy {
    padding: 89px 0 47px;
    .main-wrapper {
        padding: 0;
    }
}

.main__burger {
    width: 60px;
    height: 23px;
    position: relative;
    top: 50%;
    cursor: pointer;
    margin-right: 24px;
}

.main__burger::before,
.main__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 45px;
    height: 3px;
    border-radius: 6px;
    right: 0;
}

.main__burger::after {
    width: 45px;
}

.main__burger::before {
    top: 0;
}

.main__burger-line {
    background-color: #fff;
    position: absolute;
    width: 60px;
    height: 3px;
    border-radius: 5px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main__burger::after {
    bottom: 0;
}

.main-wrapper {
    padding: 0 32px 31px 32px;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.main-content-title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 44px;
}

.main-content-text {
    font-size: 1.125rem;
    line-height: 21px;
}

.main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__box-conteiner {
    font-size: 4.5rem;
    line-height: 85px;
    color: #979797;
}

.main__box-img {
    width: 301px;
}

.main-finance {
    .main-content {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

.main-list {
    display: flex;
}

.main-list-inner {
    padding-left: 34px;

    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #ffffff;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        top: 50%;
        border-radius: 50%;
        transform: translateY(-50%);
        background: #c4c4c4;
        left: 15px;
    }
}

.main__choise-content {
    padding: 14px 0 33px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
}

.main__choise-btn,
.main__choise-btn-2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
    border-radius: 25px;

    padding: 33px 55px;
    margin-right: 22px;
    &:hover {
        text-decoration: none;
    }
}
.main__choise-btn-2 {
    background: #dfdcdc;
    border-radius: 25px;
    padding: 23px 73px;
}

.main__choise-conteiner {
    display: flex;
    align-items: end;
}

.main__choise-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
