@media (max-width: 1400px) {
    .main__box-img {
        width: 266px;
    }

    .chapter__col-link {
        padding-right: 5px;
    }

    .chapter__row-col {
        width: 40%;
    }
    .kinars-form {
        margin-right: 10px;
    }
}

@media (max-width: 1300px) {
    .user-info {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 1200px) {
    .main-data {
        width: 95%;
    }
    .main__box-img {
        width: 221px;
    }
    .logo {
        padding-right: 26px;
    }
    .logo {
        padding-right: 26px;
    }
    .header__wrapp {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    .messege__wrapp {
        padding: 28px 15px 40px 15px;
    }
    .messege-col-3 {
        margin-left: 10px;
    }

    .navigation-inner {
        margin-left: 10px;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        width: 33.33%;
    }

    .footer-col-2 {
        display: flex;
        flex-direction: column;
    }

    .chapter__wrapp {
        padding-left: 10px;
    }
    .forum-col-2,
    .forum-online {
        width: 230px;
        margin-left: 10px;
    }

    .forum-col {
        width: 685px;
    }
    .chema__wrapp {
        align-items: flex-start;
    }

    .option__title {
        padding-right: 0;
    }

    .option__container-box,
    .option__box-text {
        width: 80%;
    }
    .option__wrapp-inner {
        padding-right: 0;
    }
    .option__wrapp {
        justify-content: space-between;
    }

    .option__wrapp-inner {
        width: 60%;
    }
    .option-page {
        width: 70%;
    }

    .messenger-data {
        padding-left: 15px;
    }

    .messenger__box-btn {
        font-size: 12px;
        margin-right: 5px;
        padding: 10px 7px 10px 54px;
    }

    .messenger__box-btn-2 {
        padding: 5px 6px 9px;
    }

    .messenger-head {
        .main-content-title {
            font-size: 25px;
        }
    }

    .buy-table-col:nth-child(3) {
        width: 165px;
    }
    .buy-table-col:first-child {
        width: 129px;
    }
    .buy-table-col:nth-child(4) {
        width: 147px;
    }

    .user-reviews {
        .reviews-mess-col .reviews__row-img {
            width: 14px;
            height: 14px;
        }
    }
}

@media (max-width: 1155px) {
    .game-list-title {
        padding-left: 30px;
    }
    .choise-filter {
        flex-wrap: wrap;
    }
    .choise-search {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 1040px) {
    .main__choise-wrapp {
        flex-direction: column-reverse;
    }

    .main__choise-col {
        width: 100%;
        margin-bottom: 20px;
    }
    .main__choise-content {
        width: 100%;
    }

    .user-reviews {
        .reviews-mess-col .reviews__row-img {
            width: 12px;
            height: 12px;
        }
    }
}

@media (max-width: 992px) {
    .game__list-wrapp {
        max-width: 758px;
    }
    .choise-filter {
        padding-left: 0;
    }

    .choise-head .choise__table-row,
    .choise-body .choise__table-row {
        padding-left: 0;
        padding-right: 0;
    }

    .buy-table-body .buy__table-row,
    .buy-table-head .buy__table-row {
        padding-right: 5px;
        padding-left: 5px;
    }
    .buy-avatar {
        display: none;
    }
    .container-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-select {
        margin-bottom: 20px;
    }

    .header__wrapp-2 {
        .header__inner {
            top: 120px;
        }
    }

    .title-wrapp {
        padding: 19px 15px 23px 15px;
    }
    .forum-col-2 {
        margin-left: 0;
        width: 80%;
        margin: 0 auto 20px;
    }
    .forum-mess-head {
        width: 90%;
    }
    .forum-online {
        width: 100%;
    }
    .footer-wrapp {
        flex-direction: column;
        padding: 30px 15px;
    }

    .footer-col-2,
    .footer-col-3 {
        margin-left: 0;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .main__box-img {
        width: 160px;
    }
    .messege__col-1 {
        width: 90%;
    }

    .menu__burger {
        display: block;
        margin-right: 0;
    }
    .header__inner {
        z-index: 333;
        width: 290px;
        padding: 40px 0 30px;
        background: #031d40;
        position: absolute;
        top: 70px;
        right: 0;
        flex-direction: column;
        transform: translateY(-300%);
        overflow: auto;
    }

    .header__active {
        transition: 0.4s;
        transform: translateY(0);
    }
    .nav__list {
        flex-direction: column;
    }
    .header__wrapp-col {
        flex-direction: column;
    }

    .nav__list-link {
        display: block;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .forum-wrapp {
        flex-direction: column-reverse;
    }

    .forum-col {
        width: 100%;
    }

    .regulations-head .regulations-contain,
    .regulations-row .regulations-contain,
    .regulation-wrapp,
    .regulations-title {
        padding-left: 0;
        padding-right: 0;
    }

    .finance__wrapp {
        padding-left: 0;
        padding-right: 0;
    }

    .finance-table-head .finance__table-row,
    .finance-table-body .finance__table-row {
        padding-left: 5px;
        padding-right: 5px;
    }

    .finance-text {
        padding-left: 0;
        padding-right: 0;
    }
    .messenger-data {
        padding-left: 15px;
    }
    .messenger-col:nth-last-child(1) {
        display: none;
    }
    .messenger-col:nth-child(2) {
        width: 60%;
    }
    .messenger-col:nth-child(1) {
        width: 40%;
    }

    .main__kinars-col {
        .messenger-col:first-child {
            width: 100%;
            display: block;
        }
    }
    .main__kinars-wrapp {
        flex-direction: column;
    }

    .reviews__wrapp {
        padding-left: 109px;
    }
    .reviews__wrapp-inner {
        width: 100%;
    }

    .user-info {
        flex-direction: column;
    }
    .user-info-col {
        width: 100%;
    }
    .user-wrapp-inner {
        padding-left: 5px;
    }
    .user-wrapp .avatar {
        margin: 74px auto 21px;
    }
    .user-info-mess {
        margin-top: 20px;
        width: 100%;
    }
    .user-reviews .reviews__wrapp-inner,
    .user-reviews .reviews-mess-row {
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .game__list-wrapp {
        max-width: 505px;
    }
    .user-wrapp-inner {
        flex-direction: column;
    }

    .user__inner-col:first-child {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .choice-col:first-child {
        width: 120px;
    }

    .choise-body .choice-col {
        font-size: 12px;
    }

    .choise-body .buy__status {
        font-size: 10px;
    }

    .choise-body .buy__name {
        font-size: 12px;
    }

    .choice-col:nth-child(4) {
        width: 86px;
    }

    .choise-head .choice-col {
        font-size: 14px;
    }
    .main__choise-conteiner {
        flex-direction: column;
        width: 170px;
        margin: 0 auto;
    }
    .main__choise-btn,
    .main__choise-btn-2 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .buy-table-col:nth-child(3) {
        width: 165px;
    }
    .buy-table-col:first-child {
        width: 129px;
    }
    .buy-table-col:nth-child(4) {
        width: 147px;
    }

    .buy-table-body .buy-table-col,
    .buy-table-head .buy-table-col {
        font-size: 12px;
        .buy-table-p {
            font-size: 10px;
        }
    }

    .messenger-col:nth-child(2) {
        .messenger-head .messenger__message-text,
        .messenger-head .messenger__message-name {
            display: none;
        }
        width: 100%;
    }
    .messenger-col:nth-child(1) {
        width: 100%;
    }
    .messenger-wrapp {
        flex-direction: column;
    }

    .regulations-row .regulat-col-1 {
        padding-right: 15px;
    }

    .option__wrapp-inner,
    .option-page {
        width: 75%;
    }
    .option-warn {
        width: 90%;
        margin-left: 10px;
    }
    .chema__wrapp {
        flex-direction: column;
        align-items: center;
    }

    .chema__wrapp-box {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main__box-img {
        width: 118px;
    }

    .messege__box-icon-min {
        display: none;
    }

    .messege-col-3 {
        display: none;
    }

    .messege-col-2 .messege-row-2 {
        width: 112px;
    }

    .chapter__row-col-3 {
        display: none;
    }
    .chapter__row-col {
        width: 80%;
    }

    .main__burger {
        margin-right: 10px;
    }

    .menu__burger {
        margin-right: -15px;
    }
}

@media (max-width: 688px) {
    .choise-label {
        width: 100%;
        margin-top: 30px;
        .choise-label-span {
            display: block;
            width: 100%;
        }
    }

    .choise-select {
        width: 100%;
        margin-right: 0;
    }
    .choise-search {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .chat-row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main__choise-col {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .buy-table-col:first-child {
        width: 67px;
    }
    .buy-table-col:nth-last-child(1) {
        width: 50px;
    }
    .buy-table-col:nth-last-child(2) {
        width: 50px;
    }
    .buy-table-body,
    .buy-table-head {
        .buy__table-row {
            .buy-table-col:nth-child(4) {
                display: none;
            }
        }
    }

    .buy-table-col:nth-child(3) {
        width: 82px;
    }

    .buy-table-col:nth-child(4) {
        width: 82px;
    }

    .buy-table-col:nth-child(5) {
        width: 55px;
    }

    .finance-table-body .finance-table-col,
    .finance-table-head .finance-table-col {
        font-size: 12px;
    }

    .finance__wrapp,
    .main-finance .main-content {
        flex-direction: column;
    }

    .main-finance .main-content {
        align-items: baseline;
    }

    .finance-select {
        margin-bottom: 20px;
    }

    .regulat-col-1 {
        width: 55%;
    }

    .menu__burger-line,
    .main__burger-line {
        width: 40px;
    }

    .main-wrapper {
        padding-left: 15px;
        padding-right: 0;
    }
    .menu__burger::before,
    .menu__burger::after,
    .main__burger::before,
    .main__burger::after,
    .main__burger,
    .menu__burger {
        width: 30px;
    }

    .chema-avatar {
        width: 100px;
        height: 100px;
    }
    .bread-list,
    .bread-list-link {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bread-list-link,
    .bread-list {
        font-size: 10px;
    }
    .chapter-row {
        padding-left: 15px;
        &::before {
            content: "";
        }
    }
    .chapter-title {
        padding-left: 15px;
    }
    .title__wrapp-title {
        font-size: 1rem;
    }
    .chapter__row-col {
        width: 100%;
    }
    .chapter__col-box {
        display: none;
    }
    .navigation__wrapp {
        flex-direction: column-reverse;
        align-items: start;
    }

    .navigation-inner {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .main-box {
        flex-wrap: wrap;
        width: 250px;
        justify-content: space-between;
        margin: 0 auto;
    }
    .messege-col-2 {
        display: none;
    }

    .messege__box-icon {
        display: none;
    }
    .messege__row-inner {
        margin-right: 0;
        padding-right: 0;
    }

    .messege__col-1 {
        width: 100%;
    }

    .option__wrapp-2,
    .option__wrapp {
        flex-direction: column;
        align-items: center;
    }
    .option__wrapp-inner,
    .option-page {
        width: 100%;
    }
    .option-warn {
        width: 100%;
        margin-left: 0;
    }

    .option__title {
        margin-bottom: 20px;
        text-align: left;
    }

    .option__box-text {
        width: 100%;
    }

    .option-page-container,
    .option__wrapp-inner {
        width: 100%;
        flex-direction: column;
    }

    .option-page-container,
    .option__wrapp-inner {
        .avatar {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .main-choise {
        .main-wrapper {
            padding-left: 30px;
        }
    }
    .reviews__wrapp {
        padding-left: 53px;
    }

    .reviews-mess-col .reviews__row-img {
        width: 12px;
        height: 12px;
    }

    .user-wrapp-inner .reviews__wrapp-inner {
        width: 100%;
        flex-direction: column-reverse;
        .reviews-select {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px) {
    .game__list-wrapp {
        max-width: 320px;
        align-items: center;
        justify-content: center;
    }
    .warf {
        width: 280px;
    }
    .game__box-row {
        flex-wrap: wrap;
    }
    .choise-label {
        .choise-label-span {
            padding-left: 10px;
        }
    }

    .choise-select {
        padding-left: 10px;
    }
    .choise-search-input {
        padding-left: 10px;
    }

    .reviews-select {
        font-size: 12px;
        padding: 5px 38px 7px 11px;
    }
    .reviews__wrapp {
        padding-left: 0;
    }

    .reviews-mess-col-2 {
        font-size: 12px;
    }
    .reviews-mess-col {
        font-size: 12px;
    }
    .reviews-message {
        font-size: 10px;
    }

    .reviews-mess-row .avatar {
        width: 40px;
        height: 40px;
    }

    .reviews__container-inner {
        width: 180px;
    }
    .reviews__ball-span {
        padding-left: 0;
    }

    .main__kinars-col:nth-last-child(1),
    .main-data,
    .kinars-form {
        margin-left: -50px;
    }
    .messenger-message {
        width: 100%;
    }

    .reviews__row-line {
        width: 40px;
        margin-right: 5px;
    }

    .user__table-col {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .chat-row {
        .avatar {
            display: none;
        }
    }
    .choice-col:nth-child(4) {
        width: 135px;
    }
    .finance-table-body .finance-table-col,
    .finance-table-head .finance-table-col {
        font-size: 10px;
    }
    .messenger-avatar {
        display: none;
    }

    .user-reviews {
        .reviews__wrapp-inner {
            flex-direction: column-reverse;
            .reviews-select {
                margin-bottom: 20px;
            }
        }
    }

    .user-reviews {
        padding-left: 5px;
        padding-right: 5px;
    }

    .user-reviews .reviews-mess-col .reviews__row-img {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 360px) {
    .bread-list,
    .bread-list-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}
