<div class="breadcrumb">
    <div class="container">
        <ul class="bread">
            <li class="bread-list">
                <a href="#" class="bread-list-link">
                    Главная
                </a>
            </li>
            <li class="bread-list">
                <a href="#" class="bread-list-link">
                    ЗАРАБОТОК
                </a>
            </li>
            <li class="bread-list">
                Платные схемы
            </li>
        </ul>
    </div>
</div>