<div class="buy">
    <div class="container">

        <div class="buy-table">
            <div class="buy-table-head">
                <div class="buy__table-row">
                    <div class="buy-table-col">
                        Дата
                    </div>
                    <div class="buy-table-col">
                        Заказ
                    </div>
                    <div class="buy-table-col">
                        Описание
                    </div>
                    <div class="buy-table-col">
                        Продавец
                    </div>
                    <div class="buy-table-col">
                        Статус
                    </div>
                    <div class="buy-table-col">
                        Сумма
                    </div>
                </div>
            </div>
            <div class="buy-table-body">
                <div class="buy__table-row">
                    <div class="buy-table-col">
                        27 ноября 2019 в 22:43
                        <p class='buy-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="buy-table-col">
                        #6042618
                    </div>
                    <div class="buy-table-col">
                        28 часов в обычке, Игры в турбо
                        <p class='buy-table-p'>
                            Dota 2, Прочее
                        </p>
                    </div>
                    <div class="buy-table-col">
                        <div class="buy__col-box">
                            <div class="buy-avatar">
                                <span class='buy-avatar-span'></span>
                            </div>
                            <div class="buy__box-conteiner">
                                <div class="buy__name">
                                    Kvisi
                                </div>
                                <div class="buy__status">
                                    был 11 месяцев назад
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buy-table-col --green">
                        Закрыт
                    </div>

                    <div class="buy-table-col">
                        -864.00Р
                    </div>
                </div>

                <div class="buy__table-row">
                    <div class="buy-table-col">
                        27 ноября 2019 в 22:43
                        <p class='buy-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="buy-table-col">
                        #6042618
                    </div>
                    <div class="buy-table-col">
                        28 часов в обычке, Игры в турбо
                        <p class='buy-table-p'>
                            Dota 2, Прочее
                        </p>
                    </div>
                    <div class="buy-table-col">
                        <div class="buy__col-box">
                            <div class="buy-avatar">
                                <span class='buy-avatar-span'></span>
                            </div>
                            <div class="buy__box-conteiner">
                                <div class="buy__name">
                                    Kvisi
                                </div>
                                <div class="buy__status">
                                    был 11 месяцев назад
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buy-table-col --green">
                        Закрыт
                    </div>

                    <div class="buy-table-col">
                        -864.00Р
                    </div>
                </div>

                <div class="buy__table-row">
                    <div class="buy-table-col">
                        27 ноября 2019 в 22:43
                        <p class='buy-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="buy-table-col">
                        #6042618
                    </div>
                    <div class="buy-table-col">
                        28 часов в обычке, Игры в турбо
                        <p class='buy-table-p'>
                            Dota 2, Прочее
                        </p>
                    </div>
                    <div class="buy-table-col">
                        <div class="buy__col-box">
                            <div class="buy-avatar">
                                <span class='buy-avatar-span'></span>
                            </div>
                            <div class="buy__box-conteiner">
                                <div class="buy__name">
                                    Kvisi
                                </div>
                                <div class="buy__status">
                                    был 11 месяцев назад
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buy-table-col --green">
                        Закрыт
                    </div>

                    <div class="buy-table-col">
                        -864.00Р
                    </div>
                </div>

                <div class="buy__table-row">
                    <div class="buy-table-col">
                        27 ноября 2019 в 22:43
                        <p class='buy-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="buy-table-col">
                        #6042618
                    </div>
                    <div class="buy-table-col">
                        28 часов в обычке, Игры в турбо
                        <p class='buy-table-p'>
                            Dota 2, Прочее
                        </p>
                    </div>
                    <div class="buy-table-col">
                        <div class="buy__col-box">
                            <div class="buy-avatar">
                                <span class='buy-avatar-span'></span>
                            </div>
                            <div class="buy__box-conteiner">
                                <div class="buy__name">
                                    Kvisi
                                </div>
                                <div class="buy__status">
                                    был 11 месяцев назад
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buy-table-col --green">
                        Закрыт
                    </div>

                    <div class="buy-table-col">
                        -864.00Р
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>