<div class="chapter chapter-haker">
    <div class="chapter-title">
        <h3 class="chapter__title-title">
            лаборатория хакера
        </h3>
    </div>
    <div class="chapter__wrapp">
        <div class="chapter-row">
            <div class="chapter__row-col">
                <a href="#" class="chapter__row-link">
                    Схемы заработка
                </a>
                <div class="chapter__col-row">
                    <a href="#" class="chapter__col-link">
                        Белые
                    </a>
                    <a href="#" class="chapter__col-link">
                        Серые
                    </a>
                    <a href="#" class="chapter__col-link">
                        Черные
                    </a>
                </div>
            </div>
            <div class="chapter__row-col-2">
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        3.6к
                    </span>

                    <span class='chapter__box-span-2'>
                        Темы
                    </span>
                </a>
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        8.7к
                    </span>

                    <span class='chapter__box-span-2'>
                        Сообщения
                    </span>
                </a>
            </div>
            <div class="chapter__row-col-3">
                <div class="chapter-avatar">
                    F
                </div>
                <div class="chapter-box">
                    <a href="#" class="chapter-box-link">
                        Диск алмазный 125мм
                    </a>
                    <p class="chapter-box-span">
                        Сегодня в 04:17 - Ruslanfal
                    </p>
                </div>

            </div>
        </div>

        <div class="chapter-row">
            <div class="chapter__row-col">
                <a class="chapter__row-link">
                    Раздел X
                </a>
                <a href='#' class="chpater__row-link-2">
                    заработок в интернете, игры и читы, хак разделы
                </a>
            </div>

            <div class="chapter__row-col-2">
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        3.6к
                    </span>

                    <span class='chapter__box-span-2'>
                        Темы
                    </span>
                </a>
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        8.7к
                    </span>

                    <span class='chapter__box-span-2'>
                        Сообщения
                    </span>
                </a>
            </div>
            <div class="chapter__row-col-3">
                <div class="chapter-avatar">
                    F
                </div>
                <div class="chapter-box">
                    <a href="#" class="chapter-box-link">
                        Диск алмазный 125мм
                    </a>
                    <p class="chapter-box-span">
                        Сегодня в 04:17 - Ruslanfal
                    </p>
                </div>

            </div>

        </div>
        <div class="chapter-row">
            <div class="chapter__row-col">
                <a href="#" class="chapter__row-link">
                    Схемы заработка
                </a>
                <div class="chapter__col-row">
                    <a href="#" class="chapter__col-link">
                        Белые
                    </a>
                    <a href="#" class="chapter__col-link">
                        Серые
                    </a>
                    <a href="#" class="chapter__col-link">
                        Черные
                    </a>
                </div>
            </div>
            <div class="chapter__row-col-2">
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        3.6к
                    </span>

                    <span class='chapter__box-span-2'>
                        Темы
                    </span>
                </a>
                <a href="#" class="chapter__col-box">
                    <span class='chapter__box-span'>
                        8.7к
                    </span>

                    <span class='chapter__box-span-2'>
                        Сообщения
                    </span>
                </a>
            </div>
            <div class="chapter__row-col-3">
                <div class="chapter-avatar">
                    F
                </div>
                <div class="chapter-box">
                    <a href="#" class="chapter-box-link">
                        Диск алмазный 125мм
                    </a>
                    <p class="chapter-box-span">
                        Сегодня в 04:17 - Ruslanfal
                    </p>
                </div>

            </div>
        </div>





    </div>

</div>