<div class="chapter secret">
    <div class="chapter-title">
        <h3 class="chapter__title-title">
            Секретные материалы
        </h3>
        <p class="chapter__title-text">
            бруты и чекеры, раздачи баз, теневой форум
        </p>
    </div>
    <div class="chapter__wrapp">
        <div class="chapter-row">
            <div class="chapter__row-col">
                <a href="#" class="chapter__row-link">
                    Раздел X
                </a>
                <a href='#' class="chpater__row-link-2">
                    заработок в интернете, игры и читы, хак разделы
                </a>
            </div>
            <a href='#' class="chapter__row-privat">
                Приватный
            </a>
        </div>

        <div class="chapter-row">
            <div class="chapter__row-col">
                <a class="chapter__row-link">
                    Раздел X
                </a>
                <a href='#' class="chpater__row-link-2">
                    заработок в интернете, игры и читы, хак разделы
                </a>
            </div>
            <a href='#' class="chapter__row-privat">
                Приватный
            </a>
        </div>

    </div>

</div>