<div class="chema">
    <div class="container">
        <div class="chema__title">
            <h3 class="chema__title-title">
                Original health passport, original vaccination booklet; eligibility to travel
            </h3>
            <p class="chema__title-text">
                hostdeep - Вчера в 02:20
            </p>
        </div>

        <div class="chema__wrapp">
            <div class="chema__wrapp-box">
                <div class="chema-avatar">
                    G
                </div>
                <div class="chema-user">
                    ghostdeep
                </div>
                <div class="shema-status">
                    Местный
                </div>
            </div>
            <div class="chema__wrapp-inner">
                <div class="chema__inner-title">
                    <span class="chema-span">
                        Вчера в 02:43
                    </span>
                    <span class="chema-span-2">
                        #1
                    </span>
                </div>
                <div class="chema__inner-text">
                    Covid-19 vaccination record card offers many methods of personalizations; text, image and/or
                    barcode. It is used as a perfect and professional looking health and safety document to present
                    your
                    company's health and safety requirements.

                </div>
                <div class="chema__inner-text">
                    The card shows which vaccinations have been given and when, and often includes an expiry date
                    after
                    which the vaccination is no longer valid.

                </div>
                <div class="chema__inner-text">
                    In some cases the card may contain further information such as a medical note from a doctor
                    explaining why a particular vaccination was not given.

                </div>
                <div class="chema__inner-text">
                    Original health passport, original vaccination booklet; eligibility to travel, college/school
                    registration. Buy Vaccine Card to get free passport.
                    buy certified Vaccine Card , Buy Vaccine Card online, buy original and registered covid-19
                    vaccination record card , Coventry 19 Certificate, quick and easy.

                </div>
                <div class="chema__inner-text">
                    If you want legal and legit registration we give you the opportunity to apply for the real
                    certificate of the real document registration .
                </div>
            </div>

        </div>
    </div>
</div>