<div class="finance">
    <div class="container">
        <div class="finance__wrapp">
            <select class='finance-select'>
                <option class='finance-option'>
                    Все операции
                </option>
                <option class='finance-option'>
                    Все операции
                </option>
                <option class='finance-option'>
                    Все операции
                </option>
            </select>
            <button class="finance-btn">
                Вывести деньги
            </button>
        </div>

        <div class="finance-table">
            <div class="finance-table-head">
                <div class="finance__table-row">
                    <div class="finance-table-col">
                        Дата
                    </div>
                    <div class="finance-table-col">
                        Описание
                    </div>
                    <div class="finance-table-col">
                        Статус
                    </div>
                    <div class="finance-table-col">
                        Сумма
                    </div>
                </div>
            </div>
            <div class="finance-table-body">
                <div class="finance__table-row">
                    <div class="finance-table-col">
                        27 ноября 2019 в 22:43
                        <p class='finance-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="finance-table-col">
                        Заказ #6042618
                    </div>
                    <div class="finance-table-col --green">
                        Завершено
                    </div>
                    <div class="finance-table-col">
                        -864.00Р
                    </div>
                </div>
                <div class="finance__table-row">
                    <div class="finance-table-col">
                        27 ноября 2019 в 22:43
                        <p class='finance-table-p'>
                            (2 года назад)
                        </p>
                    </div>
                    <div class="finance-table-col">
                        Пополнение баланса #32913921
                    </div>
                    <div class="finance-table-col --green">
                        Завершено
                    </div>
                    <div class="finance-table-col">
                        -864.00Р
                    </div>
                </div>
            </div>
        </div>

        <div class="finance-text">
            FunPay не является банком, платежной системой или иной финансовой организацией и не ведет расчетные счета
            пользователей. Кабинет FunPay обеспечивает лишь удобство расчетов между Клиентами, Игроками и Агентом.
        </div>
    </div>
</div>