<div class="forum-col-2">
    <div>
        <div class="forum-2-title">
            Пользователи онлайн
        </div>

        <div class="forum-online">
            <div class="forun-online-head">
                <a href="#" class="forun-online-link">
                    Lorlia12
                </a>,
                <a href="#" class="forun-online-link">
                    RillaCoca
                </a>,
                <a href="#" class="forun-online-link">
                    RillaCoca
                    <a href="#" class="forun-online-link">
                        RillaCoca
                    </a>
            </div>
            <div class="forun-online-body">
                Всего: 15 (пользователей: 4, гостей: 11)
            </div>
        </div>

        <div class="forum-2-title">
            Новые сообщения
        </div>

        <div class="forum-mess">
            <div class="forum-mess-box">
                <a href='#' class="forum-mess-avatar">
                    F
                </a>
                <div class="forum-mess-head">
                    <a href="#" class="forum-mess-link-title">
                        Проффесональный взлом, доступ
                    </a>
                    <a href="#" class="forum-mess-link">
                        Последнее: FloydMum - Сегодня в 17:50
                        Флуд
                    </a>
                </div>
            </div>

            <div class="forum-mess-box">
                <a href='#' class="forum-mess-avatar">
                    F
                </a>
                <div class="forum-mess-head">
                    <a href="#" class="forum-mess-link-title">
                        Проффесональный взлом, доступ
                    </a>
                    <a href="#" class="forum-mess-link">
                        Последнее: FloydMum - Сегодня в 17:50
                        Флуд
                    </a>
                </div>
            </div>

            <div class="forum-mess-box">
                <a href='#' class="forum-mess-avatar">
                    F
                </a>
                <div class="forum-mess-head">
                    <a href="#" class="forum-mess-link-title">
                        Проффесональный взлом, доступ
                    </a>
                    <a href="#" class="forum-mess-link">
                        Последнее: FloydMum - Сегодня в 17:50
                        Флуд
                    </a>
                </div>
            </div>

            <div class="forum-mess-box">
                <a href='#' class="forum-mess-avatar">
                    F
                </a>
                <div class="forum-mess-head">
                    <a href="#" class="forum-mess-link-title">
                        Проффесональный взлом, доступ
                    </a>
                    <a href="#" class="forum-mess-link">
                        Последнее: FloydMum - Сегодня в 17:50
                        Флуд
                    </a>
                </div>
            </div>

            <div class="forum-mess-box">
                <a href='#' class="forum-mess-avatar">
                    F
                </a>
                <div class="forum-mess-head">
                    <a href="#" class="forum-mess-link-title">
                        Проффесональный взлом, доступ
                    </a>
                    <a href="#" class="forum-mess-link">
                        Последнее: FloydMum - Сегодня в 17:50
                        Флуд
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="forum-2-title">
            Статистика форума
        </div>
        <div class="forum-statist">
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Темы:
                </span>
                <a href="#" class="forum-statist-link">
                    4 529
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Сообщения:
                </span>
                <a href="#" class="forum-statist-link">
                    18 535
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Пользователи:
                </span>
                <a href="#" class="forum-statist-link">
                    6 450
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Новый пользователь:
                </span>
                <a href="#" class="forum-statist-link">
                    l3lazy37
                </a>
            </div>
        </div>

        <div class="forum-2-title">
            Поделитесь этой публикацией
        </div>

        <div class="forum-statist">
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Темы:
                </span>
                <a href="#" class="forum-statist-link">
                    4 529
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Сообщения:
                </span>
                <a href="#" class="forum-statist-link">
                    18 535
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Пользователи:
                </span>
                <a href="#" class="forum-statist-link">
                    6 450
                </a>
            </div>
            <div class="forum-statist-row">
                <span class="forum-statist-span">
                    Новый пользователь:
                </span>
                <a href="#" class="forum-statist-link">
                    l3lazy37
                </a>
            </div>
        </div>

    </div>


</div>