<div class="header">
    <div class="container">

        <div class="header__wrapp">

            <a href="#" class="logo">
                Name
            </a>
            <div class="header__inner">

                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__list-inner">
                            <a href="#" class="nav__list-link">
                                Платное повышение
                            </a>
                        </li>
                        <li class="nav__list-inner">
                            <a href="#" class="nav__list-link">
                                Главная
                            </a>
                        </li>
                        <li class="nav__list-inner">
                            <a href="#" class="nav__list-link">
                                Наш Телеграм канал
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="header__wrapp-col">
                    <a href='#text-popup' class="btn popup-content">
                        Вход
                    </a>
                    <a href="#text-popup" class="btn btn-reg popup-content">
                        Регистрация
                    </a>
                </div>
            </div>
            <div class="menu__burger">
                <span class='menu__burger-line'></span>
            </div>
        </div>
    </div>
</div>