<div class="header header-3">
    <div class="container-2">

        <div class="header__wrapp  header__wrapp-2">
            <div class="header__wrapp-col">
                <div class="header__search">
                    <input class='header__search-input' type="search" placeholder="Поиск по 777 играм">
                    <button class='header__search-btn'>
                        <img src="./assets/img/search.svg" alt="" class="header__search-img">
                    </button>
                </div>
                <select class='header-select'>
                    <option> Помощь</option>
                    <option> Помощь</option>
                    <option> Помощь</option>
                </select>
            </div>
            <div class="header__wrapp-col-2">
                <a href='#' class="btn">
                    Войти
                </a>
                <a href="#" class="btn btn-reg">
                    Зарегистрироваться
                </a>
            </div>
        </div>
    </div>
</div>