<div class="login">
    <div class="login-head">
        <div class="login-tab" data-tab='#tab-1'>Войти</div>
        <div class="login-tab login-active" data-tab='#tab-2'>
            Зарегистрироваться
        </div>
    </div>

    <div id='tab-1' class="login-list">
        <div class="login-title">
            Через соцсети:
        </div>
        <a href="#" class="login-vk">
            <span class="avatar">
                VK
            </span>
        </a>

        <div class="login-title">
            Или с помощью имени, почты и пароля:
        </div>
        <form action="/" class="login-form">
            <input class='login-form-input' type="text" placeholder="Имя или почта">
            <input class='login-form-input' type="password" placeholder="Пароль">
        </form>
        <a href="#" class="login-link">
            Забыли пароль?
        </a>
        <div class="login-captcha">
            <div class="captcha">
                <div class="captcha-wrapp">
                    <div class="captcha-wrapp-inner">
                        <label class='captcha-label'>
                            <input class='captcha-check' type="checkbox">
                            <span class="captcha-box">
                                <img class='captcha-box-img' src="./assets/img/ok.png" alt="">
                            </span>
                        </label>
                        Я не робот
                    </div>
                    <div class="captcha-wrapp-inner-2">
                        <div class="captcha-box-2">
                            <button class='captcha-box-btn'>
                                <img src="./assets/img/cap.png" alt="">
                            </button>
                            <div class="captcha-box-2-text">reCAPTCHA</div>
                        </div>
                        <div class="captcha-box-3">
                            <a href="#" class="captcha-box-3-link">
                                Privacy-
                            </a>
                            <a href="#" class="captcha-box-3-link">Terms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="login-btn">
            Войти
        </button>
    </div>
    <div id='tab-2' class="login-list login-list-active">

        <div class="login-title">
            Через соцсети:
        </div>
        <a href="#" class="login-vk">
            <span class="avatar">
                VK
            </span>
        </a>

        <div class="login-title">
            Или с помощью имени, почты и пароля:
        </div>
        <div class="login-form">
            <input class='login-form-input' type="text" placeholder="Имя или ник">
        </div>
        <div class="login-title">
            Латинские буквы и цифры
        </div>
        <div class="login-form">
            <input class='login-reg' type="text" placeholder="Почта">
        </div>
        <div class="login-title">
            Требуется для активации учетной записи
        </div>
        <div class="login-form">
            <input class='login-reg' type="password" placeholder="Пароль">
        </div>
        <div class="login-subtitle">
            Минимум 6 символов
        </div>
        <label class="login-label">
            <input class='login-label-check' type="checkbox">
            <span class='login-label-span'>
                С <a class='login-label-link' href="#"> лицензионным соглашением</a>, включая <a
                    class='login-label-link' href="#">агентский договор, офертой для
                    продавцов, политикой
                    по обработке
                    персональных данных, правилами сайта</a> ознакомился, принимаю в полном объеме

            </span>

        </label>



        <div class="login-captcha">
            <div class="captcha">
                <div class="captcha-wrapp">
                    <div class="captcha-wrapp-inner">
                        <label class='captcha-label'>
                            <input class='captcha-check' type="checkbox">
                            <span class="captcha-box">
                                <img class='captcha-box-img' src="./assets/img/ok.png" alt="">
                            </span>
                        </label>
                        Я не робот
                    </div>
                    <div class="captcha-wrapp-inner-2">
                        <div class="captcha-box-2">
                            <button class='captcha-box-btn'>
                                <img src="./assets/img/cap.png" alt="">
                            </button>
                            <div class="captcha-box-2-text">reCAPTCHA</div>
                        </div>
                        <div class="captcha-box-3">
                            <a href="#" class="captcha-box-3-link">
                                Privacy-
                            </a>
                            <a href="#" class="captcha-box-3-link">Terms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="login-btn">
            Войти
        </button>



    </div>

</div>