<main class="main main-kinars">
    <div class="container-2">
        <div class="main-wrapper">
            <div class="main__burger">
                <span class='main__burger-line'></span>
            </div>
            <div class="main__kinars-wrapp">
                <div class="main__kinars-col">
                    <div class="main-content">
                        <h1 class='main-content-title'>
                            Кинары Aion (RU)
                        </h1>
                    </div>

                    <div class="main-data">
                        <div class="main-data-box">
                            <h3 class="main-data-title">
                                СЕРВЕР
                            </h3>
                            <p class="main-data-text">
                                Нортика
                            </p>
                            <h3 class="main-data-title">
                                НАЛИЧИЕ
                            </h3>
                            <p class="main-data-text">
                                350 кк кинар
                            </p>
                        </div>
                        <div class="main-data-box">
                            <h3 class="main-data-title">
                                СТОРОНА
                            </h3>
                            <p class="main-data-text">
                                Элийцы
                            </p>
                        </div>
                    </div>

                    <form action="/" class="kinars-form">
                        <div class="kinars-form-block">
                            <div class="form-title">
                                <div class="form__title-title">
                                    СПОСОБ ОПЛАТЫ
                                </div>
                                <div class="form__title-title">
                                    ЗА 1 КК
                                </div>
                            </div>
                            <div class="form-select">
                                <div class="form__select-inner">
                                    <div class='form__select-info select-active'>
                                        <span>Не выбран</span>
                                        <span>От 1.84 Р</span>
                                    </div>


                                    <div class='form__select-info'>
                                        <span>Не выбран</span>
                                        <span>От 1.84 Р</span>
                                    </div>

                                    <div class='form__select-info'>
                                        <span>Не выбран</span>
                                        <span>От 1.84 Р</span>
                                    </div>
                                </div>

                            </div>


                            <div class="form-inner">

                                <div class="kinars-form-block">
                                    <div class="form-title">
                                        <div class="form__title-title">
                                            ПОЛУЧУ
                                        </div>

                                    </div>

                                    <input type="text" class="form-input" placeholder="kk">
                                </div>

                                <button class="form-btn">
                                    <img src="./assets/img/form.png" alt="">
                                </button>

                                <div class="kinars-form-block">
                                    <div class="form-title">
                                        <div class="form__title-title">
                                            ЗАПЛАЧУ
                                        </div>

                                    </div>

                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="form-info">
                                Минимум 59 кк кинар (требование продавца)
                            </div>

                            <div class="kinars-form-block">
                                <div class="form-title">
                                    <div class="form__title-title">
                                        ИМЯ ПЕРСОНАЖА
                                    </div>
                                </div>
                                <input type="text" class="form-input">
                                <button class='form-btn-2'>
                                    Купить
                                </button>
                                <div class="form-info">
                                    Продавец не сможет получить оплату до тех пор, пока вы не<br> подтвердите выполнение
                                    им
                                    всех
                                    обязательств.
                                </div>


                            </div>

                    </form>

                </div>
            </div>
            <div class="main__kinars-col">


                <div class="messenger-col">
                    <div class="messenger-head">
                        <div class="messenger__body-row">
                            <div class="messenger-avatar">
                                <span class="messenger-active"></span>
                            </div>
                            <div class="messenger-message">
                                <div class="messenger__message-inner">
                                    <div class="messenger__message-name">
                                        Kvisi
                                    </div>
                                    <div class="messenger__message-text">
                                        Сколько стоит?
                                    </div>
                                </div>
                                <div class="messenger__message-box">
                                    <button class="messenger__box-btn">
                                        Включены<br>
                                        оповещения
                                    </button>
                                    <button class="messenger__box-btn-2">
                                        <img src="./assets/img/znak.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="message-window">

                        <div class="messenger__body-row">
                            <div class="messenger-message">
                                <div class="messenger__message-inner">
                                    <div class="messenger__message-name">
                                        Kvisi
                                    </div>
                                    <div class="messenger__message-text">
                                        Привет. По поводу анранкеда пишу, не нашёл ещё человека?
                                    </div>
                                </div>
                                <div class="messenger__message-time">
                                    10.09
                                </div>
                            </div>
                        </div>

                        <div class="messenger__body-row">
                            <div class="messenger-message">
                                <div class="messenger__message-inner">
                                    <div class="messenger__message-name">
                                        Я
                                    </div>
                                    <div class="messenger__message-text">
                                        Привет
                                        Сделать тир 3-4 и 10 ммр = 600 rub<br>
                                        5-6 тир = 600 rub<br>
                                        6-7 тир = 800 rub<br>
                                        7-8 тир = 2000 rub<br>
                                        8 тир = 3300 rub<br>
                                        (Тир боевого кубка виден после 100 часов)<br>
                                        В конце заказа оставлю жирный отзыв :D
                                    </div>
                                </div>
                                <div class="messenger__message-time">
                                    10.09
                                </div>
                            </div>
                        </div>

                        <div class="messenger__body-row">
                            <div class="messenger-message">
                                <div class="messenger__message-inner">
                                    <div class="messenger__message-name">
                                        Kvisi
                                    </div>
                                    <div class="messenger__message-text">
                                        Привет. По поводу анранкеда пишу, не нашёл ещё человека?
                                    </div>
                                </div>
                                <div class="messenger__message-time">
                                    10.09
                                </div>
                            </div>
                        </div>

                        <div class="messenger__body-row">
                            <div class="messenger-message">
                                <div class="messenger__message-inner">
                                    <div class="messenger__message-name">
                                        Я
                                    </div>
                                    <div class="messenger__message-text">
                                        Так тир бк — это и есть 100 часов<br>
                                        Его результат точнее
                                    </div>
                                </div>
                                <div class="messenger__message-time">
                                    10.09
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="messenger-dispatch">
                        <textarea class='messenger-dispatch-textarea' placeholder="Написать..."></textarea>

                        <button class="messenger-dispatch-btn" type="submit">
                            <img src="./assets/img/arrow-2.svg" alt="">
                        </button>
                    </div>


                </div>

            </div>

        </div>

    </div>
    </div>
</main>