<main class="main-2">
    <div class="container-2">
        <div class="main-2-wrapp">
            <div class="main-2-subtitle">
                *Эта видеоигра понравилась 74% пользователей
            </div>
            <div class="main-2-title">
                New World
            </div>
            <div class="main-2-text">
                New World — новый мир и новая надежда любителей MMORPG с открытым миром, массовыми PvP-сражениями и
                осадами. Предлагаем вам купить золото New World на FunPay и избавить себя от унылого фарма и
                бесконечного собирательства. Трёхэтапная система сделки (оплата → передача товара → подтверждение)
                гарантирует безопасность
            </div>
            <div class="main-2-box">
                <a href="#" class="main-2-link">Золото</a>
                <a href="#" class="main-2-link">Аккаунты</a>
                <a href="#" class="main-2-link">Предметы</a>
                <a href="#" class="main-2-link">Сбор</a>
                <a href="#" class="main-2-link">Прокачка</a>
                <a href="#" class="main-2-link">Обучение</a>
                <a href="#" class="main-2-link">Экспедиции</a>
                <a href="#" class="main-2-link">Прочее</a>
            </div>
            <a href="#" class="main-2-btn">
                Смотреть
            </a>
        </div>
    </div>
</main>