<main class="main main-choise">
    <div class="container-2">
        <div class="main-wrapper">
            <div class="main__burger-hover">
                <div class="main__burger">
                    <span class='main__burger-line'></span>
                </div>
            </div>
            <div class="main__choise-wrapp">
                <div class="main__choise-col">
                    <div class="main-content">
                        <h1 class='main-content-title'>
                            Аккаунты AFK Arena
                        </h1>
                    </div>
                    <div class="main__choise-content">
                        На бирже FunPay можно купить аккаунт AFK Arena по его реальной рыночной цене. Продавцами
                        являются другие игроки, а честность сделок обеспечивает система безопасности (продавец не может
                        получить деньги до выполнения своих обязательств). Пользователям разрешено продавать аккаунты,
                        полученные только легальным путем.
                    </div>
                    <div class="main__choise-conteiner">
                        <a class='main__choise-btn' href="#">Аккаунты</a>
                        <a class='main__choise-btn-2' href="#">Услуги</a>
                    </div>
                </div>
                <div class="main__choise-col">
                    <img class='main__choise-img' src="./assets/img/image.png" alt="">
                </div>

            </div>

        </div>
    </div>
</main>