<div class="messege">
    <div class="container">
        <div class="messege__wrapp">
            <div class="messege__wrapp-box">
                <div class="messege__box-icon">
                    G
                </div>
                <div class="messege__col-1">
                    <div class="messege-row-1">
                        <a href="#" class="">
                            Original Covid-19 vaccination record card or EU digital vaccine passport. Telegram:-

                        </a>
                        <a href="#" class="">@covidsolutionsnow</a>
                    </div>
                    <div class="messege-row-2">
                        ghostdeep - Вчера в 02:20
                    </div>
                </div>
                <div class="messege-col-2">
                    <div class="messege-row-2">
                        Ответы:
                        <span class='messege-row-span'>
                            0
                        </span>
                    </div>
                    <div class="messege-row-2">
                        Просмотры
                        <span class='messege-row-span'>
                            18
                        </span>
                    </div>
                </div>
                <div class="messege-col-3">
                    <div class="messege-row-1">
                        Вчера в 02:20
                    </div>
                    <div class="messege-row-1">
                        ghostdeep
                    </div>
                </div>
                <div class="messege__box-icon-min">
                    G
                </div>
            </div>
        </div>
    </div>
</div>