<div class="option">
    <div class="container-2">
        <div class="option__wrapp">
            <div class="option__title">
                Личное
            </div>
            <div class="option__wrapp-inner">
                <div class="avatar"></div>
                <div class="option__inner-box">
                    <button class='option-btn'>
                        Изменить аватарку
                    </button>
                    <a href='#' class='option-btn'>
                        Изменить пароль
                    </a>
                    <a href='#' class='option-btn'>
                        Привязать почту
                    </a>
                    <a href='#' class='option-btn'>
                        Карты и кошельки
                    </a>
                </div>
            </div>
        </div>

        <div class="option__wrapp-2">
            <div class="option__title">
                Оповещения
            </div>
            <div class="option-page">
                <div class="option-warn">
                    Мы будем оповещать вас о непрочитнных сообщениях.
                </div>
                <div class="option-page-container">
                    <div class="avatar">
                        TG
                    </div>
                    <div class="option__container-box">
                        <h3 class="option__box-title">
                            Telegram
                        </h3>
                        <p class="option__box-text">
                            Оповещения присылает наш самый пунктуальный телеграм-бот, непунктуальных мы разобрали на
                            запчасти.
                        </p>
                        <p class="option__box-text">
                            <span class="red">
                                Необходимо
                            </span>
                            <span class="blue">
                                привязать Telegram.
                            </span>
                        </p>
                        <label class="option-label">
                            <input type="checkbox" class="option-checkbox">
                            <span class='option-btn'></span>
                        </label>
                    </div>
                </div>

                <div class="option-page-container">
                    <div class="avatar">
                        Push
                    </div>
                    <div class="option__container-box">
                        <h3 class="option__box-title">
                            Push-уведомления
                        </h3>
                        <p class="option__box-text">
                            Залогиньтесь с телефона, если хотите получать на нём уведомления.
                            Работают в Chrome, Firefox и Chromium-браузерах (Opera, Яндекс.Браузер) на компьютерах и
                            Android-устройствах. Не работают на iOS.
                        </p>

                        <label class="option-label">
                            <input type="checkbox" class="option-checkbox" checked>
                            <span class='option-btn'></span>
                        </label>
                    </div>
                </div>

                <div class="option-page-container">
                    <div class="avatar">
                        <img src="./assets/img/op-1.svg" alt="">
                    </div>
                    <div class="option__container-box">
                        <h3 class="option__box-title">
                            Оповещения по электронной почте
                        </h3>
                        <p class="option__box-text">
                            Приходят на почту, привязанную к учетной записи. Настройте автоматическую проверку почты на
                            своём телефоне (Android, iOS и пр.), чтобы всегда быть на связи.
                        </p>

                        <label class="option-label">
                            <input type="checkbox" class="option-checkbox" checked>
                            <span class='option-btn'></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>