<div class="regulations">

    <div class="container">
        <div class="regulations-title">
            Правила для продавцов
        </div>


        <div class="regulations-head">
            <div class="regulations-contain">
                <div class="regulat-col-1">
                    Нарушение
                </div>
                <div class="regulat-col-2">
                    Санкции
                </div>
            </div>
        </div>
        <div class="regulations-body">
            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Размещение объявлений на других биржах. При этом разрешается размещать объявления на форумах,
                        продавать
                        в магазины и т. д.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка аккаунта. Отказ в выплатах.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Попытка передачи товара или оказания услуги без проведения платежа через FunPay. Обмен товарами
                        или
                        услугами.</div>
                    <div class="regulat-col-2">
                        Блокировка Блокировка всех аккаунтов. Отказ в выплатах. Блокировка всех новых аккаунтов
                        нарушителя
                        по
                        мере их обнаружения.. Отказ в выплатах.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Просьба к покупателю о подтверждении заказа до его фактического выполнения (при отсутствии
                        признаков
                        обмана)
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение или временная блокировка аккаунта.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Обсуждение с покупателем комиссии сайта или цены, указанной продавцом. Разрешено обсуждение
                        только
                        той
                        цены, которую видит покупатель.
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Продажа товаров, полученных неправомерным путём (взломом, брутом, кардингом и т. д.). Продажа
                        персональных данных. Обучение неправомерной деятельности или продажа информации о ней.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка аккаунта и последующее прохождение процедуры идентификации для получения выплаты с
                        него в
                        течение 30 дней.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Продажа операционных систем, антивирусов и прочего ПО, не связанного с играми. Продажа
                        нелицензионного
                        ПО.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка аккаунта и последующее прохождение процедуры идентификации для получения выплаты с
                        него в
                        течение 30 дней.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Осознанное размещение недействительных предложений либо предложений с недействительной ценой.
                        Игнорирование заказов.
                    </div>
                    <div class="regulat-col-2">
                        Временная блокировка аккаунта. Возможна постоянная блокировка аккаунта (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        В некоторых разделах система может попросить вас написать английское описание к товару.
                        Составление
                        некорректного описания (например, из одной буквы) является нарушением.
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение. Удаление всех лотов или временная блокировка аккаунта при повторных нарушениях.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Дублирование предложений, засорение таблицы предложений. Размещение предложений о покупке.
                    </div>
                    <div class="regulat-col-2">
                        Удаление всех лотов. Временная блокировка аккаунта при повторных нарушениях.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Проведение лотерей и розыгрышей, продажа «рандома».
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение. Блокировка аккаунта при повторном нарушении (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Продажа товара или услуги через раздел, не предназначенный для этого (например, продажа игровой
                        валюты
                        через раздел предметов).
                    </div>
                    <div class="regulat-col-2">
                        Доначисление комиссии. Блокировка аккаунта при повторном нарушении (без отказа в выплатах).
                    </div>
                </div>
            </div>

        </div>


        <div class="regulations-contain">
            <div class="regulations-title">
                Правила для продавцов и покупателей
            </div>
        </div>

        <div class="regulations-head">
            <div class="regulations-contain">
                <div class="regulat-col-1">
                    Нарушение
                </div>
                <div class="regulat-col-2">
                    Санкции
                </div>
            </div>
        </div>
        <div class="regulations-body">
            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Передача другому пользователю контактных данных (Skype, Discord, ВКонтакте, телефон и др.) любым
                        способом. Использование контактных данных, полученных от другого пользователя. Связь в игре
                        после
                        выполнения заказа.
                    </div>
                    <div class="regulat-col-2">
                        Временная блокировка при первом и незлонамеренном нарушении. Блокировка аккаунта и отказ в
                        выплатах
                        при
                        повторном нарушении.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Недобросовестное использование системы отзывов (накрутка, шантаж, безосновательное изменение
                        отзыва
                        по
                        старому заказу и т. д.).
                    </div>
                    <div class="regulat-col-2">
                        Удаление отзыва. Блокировка аккаунта при повторном нарушении (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Передача третьим лицам либо разглашение какой-либо информации (имя пользователя, идентификатор
                        игрока,
                        сумма и пр.) с целью нанесения вреда пользователю.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка всех аккаунтов. Отказ в выплатах. Блокировка всех новых аккаунтов нарушителя по мере
                        их
                        обнаружения.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Попытка покупки или продажи аккаунта FunPay.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка всех аккаунтов (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Использование своего аватара нетрадиционным способом (текст, реклама, акции и др.).
                    </div>
                    <div class="regulat-col-2">
                        Удаление аватара. Блокировка аккаунта при повторном нарушении (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Нарушения в общем чате: продажа, обсуждение или реклама торговых интернет-ресурсов, критика
                        других
                        продавцов или их предложений, оскорбления.
                    </div>
                    <div class="regulat-col-2">
                        Временная блокировка общего чата. Блокировка аккаунта при повторном нарушении (без отказа в
                        выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Оскорбление в ином месте (не в общем чате).
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение. Временная блокировка аккаунта при многократных нарушениях.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Реклама, спам, массовая рассылка пользователям.
                    </div>
                    <div class="regulat-col-2">
                        Временная или постоянная блокировка аккаунта (без отказа в выплатах).
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Мошенничество, обман других пользователей.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка всех аккаунтов. Отказ в выплатах. Блокировка всех новых аккаунтов нарушителя по мере
                        их
                        обнаружения.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Обмен денежных средств из одной платёжной системы в другую, перевод денежных средств с одних
                        реквизитов
                        на другие без цели совершения каких-либо заказов. Кардинг, прочие финансовые махинации.
                    </div>
                    <div class="regulat-col-2">
                        Блокировка всех аккаунтов. Отказ в выплатах. Блокировка всех новых аккаунтов нарушителя по мере
                        их
                        обнаружения.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Передача ссылок на файлообменники и хостинги изображений без явной необходимости (например, при
                        сделке с
                        аккаунтом, передача логина и пароля через изображение, залитое на файлообменник).
                    </div>
                    <div class="regulat-col-2">
                        Предупреждение. Блокировка аккаунта при повторном нарушении (без отказа в выплатах).
                    </div>
                </div>
            </div>
        </div>
        <div class="regulation-wrapp">
            <div class="regulation-wrapp-text">
                При продаже в некоторых разделах сайта система предлагает участникам заказа перейти в Discord — для
                этого нужно просто нажать на ссылку. Однако обмен контактными данными в чате FunPay или в самом
                Discord
                (например, добавление друг друга в друзья) по-прежнему является нарушением.

            </div>
            <div class="regulation-wrapp-text">
                Если вы хотите обменяться контактными данными с другим продавцом для совместного выполнения заказов,
                подайте заявку в службу поддержки.

            </div>
            <div class="regulation-wrapp-text">
                Администрация оставляет за собой право на связь с продавцами под видом покупателей с целью выявления
                нарушений.
            </div>
        </div>


        <div class="regulations-contain">
            <div class="regulations-title">
                Ответственность продавцов
            </div>
        </div>

        <div class="regulations-head">
            <div class="regulations-contain">
                <div class="regulat-col-1">
                    Игровая валюта и предметы
                </div>
                <div class="regulat-col-2">
                    Степень ответственности
                </div>
            </div>
        </div>

        <div class="regulations-body">

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Администрация игры применила к покупателю санкции, поскольку игровая валюта или предметы были
                        получены нелегальным путём (мошенничество, использование ошибок игры и т. д.).
                    </div>
                    <div class="regulat-col-2">
                        Возврат до 100% от суммы заказа.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Администрация игры применила к покупателю санкции из-за покупки игровой валюты или предметов.
                    </div>
                    <div class="regulat-col-2">
                        Возврат до 50% от суммы заказа.
                    </div>
                </div>
            </div>
        </div>

        <div class="regulations-contain">
            <div class="regulations-subtitle">
                Аккаунты
            </div>
        </div>

        <div class="regulations-body">
            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Утрата покупателем аккаунта вследствие восстановления доступа к нему продавцом или
                        первоначальным
                        владельцем (через службу поддержки игры или каким-либо иным образом).
                    </div>
                    <div class="regulat-col-2">
                        Возврат до 100% от суммы заказа.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Блокировка аккаунта администрацией игры из-за самого факта покупки/продажи аккаунта.
                    </div>
                    <div class="regulat-col-2">
                        Возврат до 50% от суммы заказа.
                    </div>
                </div>
            </div>
        </div>

        <div class="regulations-contain">
            <div class="regulations-subtitle">
                Услуги
            </div>
        </div>

        <div class="regulations-body">
            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Существенное изменение характеристик аккаунта, не оговоренное с покупателем (например,
                        увеличение
                        счётчика PK в Lineage 2, изменение порядочности в Dota 2 при прокачке MMR, пропажа игровых
                        предметов
                        с аккаунта и т. д.).
                    </div>
                    <div class="regulat-col-2">
                        Возможна компенсация нанесённого ущерба.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Выполнение услуги с отрицательным результатом (например, снижение рейтинга MMR в Dota 2 вместо
                        его
                        увеличения).
                    </div>
                    <div class="regulat-col-2">
                        Возврат 100% от суммы заказа и компенсация нанесённого ущерба
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Блокировка аккаунта из-за некачественно оказываемой услуги (например, из-за использования
                        продавцом
                        бота или другого запрещённого издателем игры ПО, если это не было оговорено с покупателем).
                    </div>
                    <div class="regulat-col-2">
                        Возврат 100% от суммы заказа, дополнительная компенсация.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Блокировка аккаунта из-за оказываемой услуги.
                    </div>
                    <div class="regulat-col-2">
                        Возврат до 50% от суммы заказа.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Необоснованный отказ продавца от дальнейшего выполнения услуги.
                    </div>
                    <div class="regulat-col-2">
                        Оплачивается 50% выполненной работы.
                    </div>
                </div>
            </div>

            <div class="regulations-row">
                <div class="regulations-contain">
                    <div class="regulat-col-1">
                        Задержка оговоренных с покупателем сроков.
                    </div>
                    <div class="regulat-col-2">
                        Оплата выполненной работы снижается прямо пропорционально задержке. Например, если сроки
                        увеличены в
                        1.5 раза, то оплата снижается в 1.5 раза.
                    </div>
                </div>
            </div>
        </div>

        <div class="regulation-wrapp">
            <div class="regulation-wrapp-text">
                Каждый спор между покупателем и продавцом индивидуален, поэтому окончательное решение о степени
                ответственности продавца может существенно отличаться от написанного выше. Договорённости в чате между
                продавцом и покупателем могут быть приняты во внимание.
            </div>

        </div>

    </div>
</div>