<div class="reviews">
    <div class="container">
        <div class="reviews__wrapp">
            <div class="reviews__wrapp-inner">

                <div class="reviews__wrapp-container">
                    <div class="reviews__box-title">
                        РЕЙТИНГ ПРОДАВЦА
                    </div>
                    <div class="reviews__container-inner">
                        <div class="reviews__wrapp-box">
                            <div class="reviews__box-inner">
                                <div class="reviews__ball">
                                    1
                                    <span class="reviews__ball-span">
                                        из 5
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__wrapp-box">
                            <div class="reviews__row">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <div class="reviews__row-line reviews__row-line-active"></div>
                            </div>
                            <div class="reviews__row">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <div class="reviews__row-line"></div>
                            </div>
                            <div class="reviews__row">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <div class="reviews__row-line"></div>
                            </div>
                            <div class="reviews__row">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <div class="reviews__row-line"></div>
                            </div>
                            <div class="reviews__row">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <div class="reviews__row-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__wrapp-container">
                    <div class="reviews__subtitle">
                        1 отзыв за 3 недели
                    </div>
                    <select class='reviews-select'>
                        <option>
                            Все отзывы
                        </option>
                        <option>
                            Все отзывы
                        </option>
                        <option>
                            Все отзывы
                        </option>
                    </select>
                </div>
            </div>


            <div class="reviews-mess">
                <div class="reviews-mess-row">
                    <div class="avatar">
                        K
                    </div>
                    <div class="reviews-mess-box">
                        <div class="reviews-mess-inner">
                            <div class="reviews-mess-col">
                                В этом месяце
                            </div>
                            <div class="reviews-mess-col-2">
                                Aion (RU), 600 Р
                            </div>
                            <div class="reviews-mess-col">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                                <img src="./assets/img/star.svg" alt="" class="reviews__row-img">
                            </div>
                        </div>
                        <div class="reviews-message">
                            Все супер!
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>