@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";

html {
    font-size: 16px;
    line-height: 21px;
}

* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Gilroy";
    font-weight: 500;
}

body {
    min-height: 100vh;

    background: linear-gradient(180deg, #001126 0%, #01002d 100%) no-repeat center center, #01002d;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}
.container {
    max-width: 1457px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1457px;
    padding: 0 89px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        text-decoration: underline;
    }
}

.logo:hover,
.btn:hover,
.entrance-wrapp-btn:hover {
    text-decoration: none;
}

@import "../sass/blocks/page.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/breadcrumb.scss";
@import "../sass/blocks/earnings.scss";
@import "../sass/blocks/navigation.scss";
@import "../sass/blocks/border.scss";
@import "../sass/blocks/messege.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/copyright.scss";
@import "../sass/blocks/entrance.scss";
@import "../sass/blocks/title.scss";
@import "../sass/blocks/forum.scss";
@import "../sass/blocks/forum-col-2.scss";
@import "../sass/blocks/chapter-secret.scss";
@import "../sass/blocks/chapter-earnings.scss";
@import "../sass/blocks/chema.scss";
@import "../sass/blocks/option.scss";
@import "../sass/blocks/regulations.scss";
@import "../sass/blocks/finance.scss";
@import "../sass/blocks/messenger.scss";
@import "../sass/blocks/buy.scss";
@import "../sass/blocks/choise.scss";
@import "../sass/blocks/main-kinars.scss";
@import "../sass/blocks/reviews.scss";
@import "../sass/blocks/user.scss";
@import "../sass/blocks/login.scss";
@import "../sass/blocks/main-2.scss";
@import "../sass/blocks/game.scss";
@import "../sass/blocks/chat.scss";
@import "../sass/blocks/media.scss";
